<h1><%= @lesson.name %> </h1>
<p> <%= @lesson.content %></p>

<hr>
<ul>
  <li><%= link_to "Edit Lesson", edit_lesson_path %></li>
  <li><%= link_to "Return to Lessons", lessons_path %></li>
  <li><%= link_to "Add a new Lesson", new_lesson_path %></li>
</ul>
